@use "../abstract" as *;

.advantages {
  font-family: $oswald;
  min-width: 280px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 21px;

  @include media(md) {
    row-gap: 34px;
  }

  @include media(xl) {
    flex-direction: row;
    column-gap: 80px;
  }
}

.advantages__item {
  background-color: $gray;
  padding: 20px 20px 18px 20px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }


  &--lose-weight-icon::before {
    top: 20px;
    left: 21px;
    width: 53px;
    height: 53px;
    background-image: url("../img/sprite.svg#weight-lose-cat-icon");

    @include media(md) {
      top: 76px;
      left: 62%;
      width: 212px;
      height: 212px;
    }

    @include media(xl) {
      top: 39px;
      left: 49px;
      width: 106px;
      height: 106px;
    }
  }

  &--gain-weight-icon::before {
    top: 14px;
    left: 13px;
    width: 67px;
    height: 67px;
    background-image: url("../img/sprite.svg#weight-gain-cat-icon");

    @include media(md) {
      top: 54px;
      left: 58%;
      width: 268px;
      height: 268px;
    }

    @include media(xl) {
      top: 27px;
      left: 33px;
      width: 134px;
      height: 134px;
    }
  }

  @include media(md) {
    padding: 68px 28px 56px 52px;
  }

  @include media(xl) {
    width: 50%;
    padding: 36px 51px 59px 52px;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 69px;
  padding-top: 10px;
  position: relative;

  @include media(md) {
    font-size: 36px;
    padding: 0;
    margin-bottom: 19px;
    line-height: 1.3;
  }

  @include media(xl) {
    margin-top: 36px;
    margin-bottom: 69px;
    padding-left: 162px;
  }
}

.advantages__slogan {
  font-family: $arial;
  color: $dark-gray;
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
  position: relative;

  @include media(md) {
    width: 57.85%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 51px;
    padding: 0;
    padding-right: 20px;
    color: $black;
  }

  @include media(xl) {
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $light-silver;

    @include media(md) {
      content: none;
    }
  }
}

.advantages__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 48px;
  position: relative;

  @include media(md) {
    font-size: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 18px;
    height: 2px;
    top: 13px;
    right: 14px;
    background-color: $black;
    transition: all 0.3s ease-in-out;

    @include media(md) {
      right: 4px;
    }
  }

  &::after {
    width: 12px;
    height: 9px;
    top: 7px;
    right: 0;
    border: 7px solid transparent;
    border-left: 8px solid $black;
    transition: all 0.3s ease-in-out;

    @include media(md) {
      top: 8px;
      right: -9px;
      border-left: 7px solid $black;
    }
  }

  &:hover::before {
    width: 26px;
    right: 6px;
  }

  &:hover::after {
    right: -8px;
  }

  &:active {
    opacity: 0.3;
  }
}
