@use "../abstract" as *;

.card-product__link {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 10px;

  @include media(md) {
    grid-template-columns: 1fr;
    row-gap: 31px;
    margin-bottom: 0;
  }

  @include media(xl) {
    row-gap: 42px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-product__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding-bottom: 9px;

  @include media(md) {
    align-items: center;
    margin-bottom: 33px;
    padding: 0;
  }

  @include media(xl) {
    padding: 0;
    padding-left: 6px;
    padding-right: 4px;
    row-gap: 17px;
    margin-bottom: 32px;
  }
}

.card-product__title {
  font-size: 16px;
  line-height: 1.25;
  font-weight: inherit;
  color: $raisin-black;
  text-transform: uppercase;
  margin: 0;
  width: 54%;

  @include media(md) {
    font-size: 20px;
    line-height: 1.2;
    width: 63%;
    text-align: center;
  }

  @include media(xl) {
    width: 145px;
  }
}

.card-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;

  @include media(md) {
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    row-gap: 67px;
  }

  @include media(xl) {
    margin: 0 auto;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 66px;
  }
}

.card-product__specification-list {
  width: 100%;
  margin: 0;
}

.card-product__specification-item {
  display: flex;
  justify-content: space-between;

  @include media(md) {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $chinese-silver;
  }

  &:last-child {
    @include media(md) {
      margin: 0;
    }
  }
}

.card-product__item {
  padding: 19px 20px 24px 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid $bright-gray-special;

  @include media(md) {
    padding: 37px;
    padding-bottom: 39px;
    padding-top: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 74px, rgba(242, 242, 242, 1) 74px, rgba(242, 242, 242, 1) 100%);
    border: none;
  }

  @include media(xl) {
    padding: 0 34px 40px 35px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 76px, rgba(242, 242, 242, 1) 76px, rgba(242, 242, 242, 1) 100%);
  }
}

.card-product__image {
  margin: 0;
  align-self: center;
  justify-self: center;

  @include media(xl) {
    width: 172px;
    height: 196px;
  }
}

.card-product__specification-name,
.card-product__specification-value {
  font-family: $arial;
  font-size: 12px;
  line-height: 1.33;
  color: $dark-gray;

  @include media(md) {
    font-size: 16px;
  }
}

.card-product__specification-value {
  margin: 0;
}

.card-product__button {
  padding: 10px 0;
  min-height: 40px;

  @include media(md) {
    font-size: 16px;
  }
}
