@use "../abstract" as *;

.catalog {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 35px;

  @include media(md) {
    padding-top: 53px;
    padding-bottom: 76px;
    font-size: 20px;
  }

  @include media(xl) {
    padding-top: 42px;
    padding-bottom: 86px;
    position: relative;
  }
}

.catalog__products {
  margin-bottom: 25px;

  @include media(md) {
    margin-bottom: 68px;
  }

  @include media(xl) {
    margin-bottom: 76px;
  }
}

.catalog__title-wrapper {
  margin-bottom: 41px;
}

.catalog__title {
  font-size: 36px;
  font-weight: inherit;
  margin: 0;

  @include media(md) {
    font-size: 60px;
    margin-bottom: 82px;
  }

  @include media(xl) {
    margin-bottom: 84px;
  }
}
