@use "my-vars" as *;

.catalog {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
}
