@use "../my-vars" as *;

.comparison__button {
  background-color: inherit;
  color: inherit;
}

.comparison__input {
  width: 100%;
}

.comparison__controls {
  display: grid;
  grid-template-columns: 23% auto 23%;
  column-gap: 13px;
  justify-items: center;
  padding: 0 35px;
  margin-top: 15px;

  @media (min-width: $tablet-screen) {
    padding: 0 57px 0 59px;
    grid-template-columns: 12% auto 12%;
  }
}
