@use "../abstract" as *;


.comparison {
  width: 100%;

  @include media(md) {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 151px, rgba(234, 234, 234, 1) 151px, rgba(234, 234, 234, 1) 100%);
    padding-bottom: 100px;
  }

  @include media(xl) {
    padding-bottom: 0;
    width: 591px;
    background-image: none;
  }
}

.comparison__wrapper {
  --comparison: 50%;
  margin: 0 auto;
  width: 280px;
  position: relative;

  @include media(md) {
    width: 560px;
    min-height: 512px;
  }
}

.comparison__top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--comparison);
  text-align: center;
  overflow-x: hidden;
  background-color: $bright-gray;

  @include media(md) {
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 151px, rgba(234, 234, 234, 1) 151px, rgba(234, 234, 234, 1) 100%);
  }

  @include media (xl) {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 134px, rgba(242, 242, 242, 1) 134px, rgba(242, 242, 242, 1) 100%);
  }
}

.comparison__skinny,
.comparison__fat {
  display: block;
  margin: 0 auto;

  @include media(md) {
    width: 560px;
    height: 512px;
  }
}

.comparison__button {
  background-color: inherit;
  color: inherit;

  @include media(xl) {
    width: 70px;
    min-height: 40px;
  }
}

.comparison__range-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 109px;
    width: 4px;
    background-color: $granite-gray;
    left: var(--comparison);
    transform: translateX(-50%);
    border-radius: 2px;

    @include media(md) {
      height: 237px;
    }
  }

  &::after {
    bottom: 0;
  }

  &:hover::before,
  &:hover::after,
  &:hover .comparison__arrow-icon {
    background-color: $green;
  }

  &:hover .comparison__input[type="range"]::-webkit-slider-thumb {
    border: 2px solid $green;
  }

  &:hover .comparison__input[type="range"]::-moz-range-thumb {
    border: 2px solid $green;
  }

  &:active::before,
  &:active::after,
  &:active .comparison__arrow-icon,
  &:active .comparison__input[type="range"]::-webkit-slider-thumb {
    opacity: 0.6;
  }

  &:active .comparison__input[type="range"]::-moz-range-thumb {
    opacity: 0.6;
  }
}

.comparison__input {
  appearance: none;
  background-color: transparent;
  width: calc(100% + 40px);
  height: 100%;
  top: 50%;
  margin: 0 -20px;
}

.comparison__input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid $granite-gray;
  border-radius: 20px;
  background-color: $white;
  cursor: ew-resize;
}

.comparison__arrow-icon {
  position: absolute;
  top: 45.3%;
  left: var(--comparison);
  transform: translateX(-48%);
  width: 24px;
  height: 24px;
  mask-image: url("../img/sprite.svg#comparison-arrow");
  mask-repeat: no-repeat;
  background-color: $granite-gray;
  pointer-events: none;

  @include media(md) {
    top: 47.6%;
  }
}

.comparison__input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 38px;
  height: 38px;
  border: 2px solid $granite-gray;
  border-radius: 50%;
  background-color: $white;
  cursor: ew-resize;
}

.comparison__input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.comparison__input[type="range"]::-moz-range-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
