@use "../my-vars" as *;

.comparison__button {
  background-color: inherit;
  color: inherit;
}

.comparison__input {
  width: 100%;
}

.comparison__controls {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 13px;
  justify-items: center;
  padding: 0 35px;
  margin-top: 15px;
}
