@use "../abstract" as *;

.cooperation {
  padding: 26px 20px 26px 20px;
  display: flex;
  justify-content: space-between;

  &--bg-color {
    background-color: $white;
  }

  @include media(md) {
    padding: 56px 70px;
  }

  @include media(xl) {
    background-color: $white;
    width: 565px;
    padding: 56px 80px;
  }
}

.cooperation__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $chinese-black;
  margin: 0;
  margin-right: 2px;
  width: 50%;
  padding-right: 10px;

  @include media(md) {
    width: 27%;
    font-size: 20px;
    line-height: 1.3;
  }

  @include media(xl) {
    width: 163px;
  }
}

.cooperation__address {
  width: 50%;
  font-style: normal;
  color: $dark-gray;

  @include media(md) {
    width: 25%;
    text-align: right;
  }

  @include media(xl) {
    width: 155px;
    text-align: start;
  }
}

.cooperation__address-text {
  margin: 0;
  width: 100%;

  &--geometry {
    @include media(md) {
      margin-top: 18px;
    }
  }
}
