@use "../my-vars" as *;

.cooperation {
  padding: 26px 20px 26px 20px;

  &--bg-color {
    background-color: $white;
  }
}

.cooperation__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $chinese-black;
  margin: 0;
  margin-right: 2px;
}

.cooperation__address-text {
  font-size: 14px;
  font-style: normal;
  color: $dark-gray;
  margin: 0;
}
