@use "../abstract" as *;

.features {
  font-family: $arial;
  line-height: 1.45;
  padding-bottom: 48px;

  @include media(md) {
    padding-bottom: 46px;
    position: relative;
  }

  @include media(xl) {
    padding-bottom: 0;
  }

  &::after {
    @include media(md) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $platinum;
    }

    @include media(xl) {
      content: none;
    }
  }
}

.features__title {
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 31px;

  @include media(md) {
    font-size: 60px;
    margin-bottom: 21px;
  }
}

.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  counter-reset: features-item-counter;

  @include media(md) {
    grid-template-columns: repeat(2, 35.16%);
    row-gap: 41px;
    column-gap: 137px;
  }

  @include media(xl) {
    grid-template-columns: 242px 244px 243px 245px;
    justify-content: space-between;
    gap: 0;
  }
}

.features__item {
  padding-left: 80px;
  position: relative;

  @include media(md) {
    padding: 0;
    padding-top: 151px;
    padding-bottom: 57px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-image: url("../img/decorative/healthy-nutrients-icon.svg");

    @include media (md) {
      width: 80px;
      height: 80px;
      top: 38px;
      background-size: 80px 80px;
    }
  }

  &--healthy-nutrients::before {
    background-image: url("../img/decorative/healthy-nutrients-icon.svg");
  }

  &--fast-cooking::before {
    background-image: url("../img/decorative/fast-cooking-icon.svg");
  }

  &--mess-gears::before {
    background-image: url("../img/decorative/mess-gears-icon.svg");
  }

  &--clock-icon::before {
    background-image: url("../img/decorative/clock-icon.svg");
  }
}

.features__counter {
  @include media(md) {
    position: relative;
  }

  &::after {
    @include media(md) {
      position: absolute;
      counter-increment: features-item-counter;
      content: counter(features-item-counter);
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      color: $gray;
      z-index: -3;
      bottom: 00;
      right: 24px;
    }

    @include media(xl) {
      bottom: 0;
      right: 18px;
    }
  }

  &:nth-child(2)::after {
    @include media(md) {
      right: 2px;
    }

    @include media(xl) {
      right: 1px;
    }
  }

  &:nth-child(3)::after,
  &:nth-child(4)::after {
    @include media(md) {
      right: 0;
    }
  }
}

.features__description {
  margin: 0;
  color: $dark-gray;
  min-height: 60px;
}

.features__description br {
  display: none;

  @include media (md) {
    display: block;
  }
}
