@use "../my-vars" as *;

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 20px 22px 20px;
}

.footer-contacts__logo-link {
  display: block;
  margin-bottom: 52px;
}

.footer-contacts__copyright-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-contacts__copyright-title {
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  margin-right: auto;
}

.footer-contacts__copyright-image {
  margin-left: auto;
}
