@use "../abstract" as *;

.footer-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 35px;

  @include media(md) {
    padding-top: 63px;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(xl) {
    padding-top: 59px;
    padding-bottom: 61px;
    width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  &--form-page {
    padding-top: 38px;

    @include media(md) {
      padding-top: 61px;
    }

    @include media(xl) {
      padding-top: 57px;
    }
  }

  &--catalog-page {
    @include media(md) {
      padding-top: 57px;
    }

    @include media(xl) {
      padding-top: 53px;
    }
  }
}

.footer-contacts__logo-link {
  display: block;
  margin-bottom: 27px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include media(md) {
    margin-bottom: 0;
  }
}

.footer-contacts__social {
  margin: 0;
  margin-bottom: 22px;
}

.footer-contacts__copyright-link {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover .footer-contacts__copyright-logo {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }

  @include media(md) {
    width: 163px;
    justify-self: flex-end;
  }
}

.footer-contacts__copyright-title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
}

.footer-contacts__copyright-logo {
  margin-left: auto;
  color: $granite-gray;
}
