@use "../abstract" as *;

.hero-section {
  font-family: $oswald;
  color: $white;
  background-image: linear-gradient(180deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 301px, rgba(255, 255, 255, 1) 301px, rgba(255, 255, 255, 1) 100%),
    url("../img/decorative/background-promo-cat-phone.png"),
    linear-gradient(180deg, rgba(76, 71, 76, 0.1) 0%, rgba(208, 185, 171, 0.1) 30%, rgba(208, 185, 171, 0.1) 70%, rgba(76, 71, 76, 0.1) 100%);
  background-repeat: no-repeat;
  background-size: 100%, 320px, 50%;
  background-position-x: center;
  padding-top: 26px;
  padding-bottom: 20px;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(180deg, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 301px, rgba(255, 255, 255, 1) 301px, rgba(255, 255, 255, 1) 100%),
      url("../img/decorative/background-promo-cat-phone@2x.png"),
      linear-gradient(180deg, rgba(76, 71, 76, 0.1) 0%, rgba(208, 185, 171, 0.1) 30%, rgba(208, 185, 171, 0.1) 70%, rgba(76, 71, 76, 0.1) 100%);
  }

  @include media(md) {
    background-image: none;
    color: $black;
    text-align: start;
    padding-top: 48px;
    padding-bottom: 0;
  }

  @include media(xl) {
    padding: 0;
    padding-bottom: 54px;
    padding-top: 13px;
  }

  &::before {
    @include media(xl) {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      z-index: -3;
      background-image: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%,),
        url("../img/decorative/background-promo-cat-desktop.png");
      background-repeat: no-repeat;
      background-size: 100%, cover, 100%;
      background-position: right;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%,),
          url("../img/decorative/background-promo-cat-desktop@2x.png");
      }
    }
  }
}

.hero-section__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(md) {
    align-items: flex-start;
    padding-left: 116px;
  }

  @include media(xl) {
    flex-wrap: wrap;
    padding-left: 109px;
  }
}

.hero-section__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;

  @include media(md) {
    font-size: 60px;
    margin-bottom: 36px;
  }

  @include media(xl) {
    width: 50%;
    margin-top: 82px;
  }
}

.hero-section__slogan {
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;

  @include media(md) {
    font-size: 20px;
    margin-bottom: 43px;
    padding-left: 2px;
  }

  @media (min-width: 1220px) {
    width: 50%;
    margin-bottom: 48px;
  }
}

.hero-section__button {
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: $white;

  @include media(md) {
    font-size: 20px;
    order: 3;
    width: calc(38% + 8px);
    margin: 0;
    margin-right: auto;
    margin-left: 4px;
    padding: 12px 0;
  }

  @include media(xl) {
    width: 244px;
    margin-left: 1px;
  }
}

.hero-section__product-image-wrapper {
  width: 100%;

  @include media(md) {
    order: 4;
    z-index: -3;
    margin-top: -83px;
    margin-left: -87px;
  }

  @include media(xl) {
    z-index: 0;
    margin: 0;
    width: 552px;
    height: 499px;
    margin-top: -32.2%;
    margin-left: calc(31% + 14px);
  }
}
