
.location {
  background-image: url("../img/content/map.png");
  background-repeat: no-repeat;
  background-size: 320px 362px;
  background-position-x: center;
}

.location__map {
  width: 100%;
  border: none;
}
