@use "../abstract" as *;

.main-container {
  width: 100%;
}

.main-container__advantages {
  margin-bottom: 15px;

  @include media(md) {
    margin-bottom: 32px;
  }

  @include media(xl) {
    margin: 0 auto;
    margin-bottom: 57px;
  }
}

.main-container__hero-section {
  @include media(xl) {
    margin-bottom: 82px;
  }
}

.main-container__features {

  @include media(xl) {
    margin-bottom: 19px;
  }
}
