@use "../abstract" as *;

.main-footer {
  font-family: $arial;
  line-height: 1.2;
  background-color: $gray;

  @include media(xl) {
    position: relative;
  }
}

.main-footer__cooperation {
  @include media(xl) {
    position: absolute;
    top: 95px;
    left: 110px;
  }
}
