@use "../abstract" as *;

.main-nav {
  font-family: $oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include media(md) {
    font-weight: 400;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 16px;
    align-items: center;
  }

  @include media(xl) {
    font-size: 20px;
    padding-top: 53px;
    padding-bottom: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $light-silver;

    @include media(md) {
      content: none;
    }
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17.39px;
  z-index: 3;

  @include media(md) {
    padding-bottom: 0;
  }
}

.main-nav__link {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  z-index: 2;
}

.main-nav__toggle {
  display: block;
  width: 24px;
  height: 16px;
  padding: 0;
  padding-top: 2px;
  border: none;
  background-color: $white;

  @include media(md) {
    display: none;
  }

  &:focus-visible {
    outline: none;
  }
}


.main-nav__burger {
  position: relative;
  display: block;
  background-color: $black;
  width: 24px;
  height: 1.5px;
  transition: all 0.5s ease-in-out;
}

.main-nav__burger::before,
.main-nav__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $black;
  transition: all 0.5s ease-in-out;
}

.main-nav__burger::before {
  transform: translateY(-8px);
}

.main-nav__burger::after {
  transform: translateY(8px);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  display: block;

  @include media(md) {
    display: none;
  }
}

.main-nav__list--closed {
  top: -999px;
  transition: top 0.3s ease-in-out;
}

.main-nav__list--opened {
  display: flex;
  top: 61px;
  transition: top 0.3s ease-in-out;
}

.main-nav--opened .main-nav__burger {
  width: 1px;
  background-color: transparent;
}

.main-nav--opened .main-nav__burger::before {
  height: 1.5px;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__burger::after {
  height: 1.5px;
  transform: rotate(-45deg);
}
