@use "../my-vars" as *;

.more-products {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: 768px) {
    background-image: none;
    padding: 38px;
    padding-top: 0;
    justify-items: center;
    align-items: flex-start;
  }

  @media (min-width: 1280px) {
    padding: 51px 39px 41px 39px;
  }
}

.more-products__subtitle {
  color: $chinese-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 53px;
  width: 100%;

  @media (min-width: 768px) {
    padding-top: 109px;
    margin-bottom: 23px;
    width: 54%;
    line-height: 1.1;
  }

  @media (min-width: 1280px) {
    margin-bottom: 49px;
    width: 134px;
  }
}

.more-products__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 1.33;
  color: $dark-gray;
  margin: 0;
  margin-bottom: 21px;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.12;
    margin-bottom: 87px;
    width: 68%;
  }

  @media (min-width: 1280px) {
    
  }
}

.more-products__button {
  background-color: $gray;
  color: $dark-gray;
}
