// fonts
$oswald: "Oswald", "Tahoma", sans-serif;
$arial: "Arial", sans-serif;

// basic colors
$white: #ffffff;
$green: #68B738;
$gray: #F2F2F2;
$black: #000000;

// special colors
$bright-gray: #EAEAEA;
$dark-gray: #444444;
$chinese-black: #111111;
$raisin-black: #222222;
