@use "../my-vars" as *;

.program-form {
  display: flex;
  flex-direction: column;
}

.program-form__text {
  color: $dark-gray;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 13px;
}

.program-form__field-control-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.program-form__contacts-owner-wrapper {
  display: flex;
  flex-direction: column;
}

.program-form__extra-food-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.program-form__field {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  text-transform: uppercase;
  padding: 13px 0 14px 16px;
  width: 100%;
}

.program-form__control-label {
  text-transform: uppercase;
  display: inline-block;

  &--font-color {
    color: $raisin-black;
  }
}

.program-form__subtitle {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  width: 100%;
}

.program-form__comment-group {
  margin-bottom: 23px;
}

.program-form__comment-field {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  text-transform: uppercase;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.program-form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin: 0 auto;
}

.program-form__list,
.program-form__checkbox-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.program-form__checkbox-list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 41px;
}

.program-form__item {
  margin-bottom: 13px;
}

.program-form__control-group {
  padding-top: 36px;

  &--geometry {
    padding: 0;
  }
}

.program-form__button {
  margin-bottom: 21px;
}
