@use "../abstract" as *;

.program-select {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  padding-top: 23px;
  padding-bottom: 32px;

  @include media(md) {
    font-size: 20px;
    padding-bottom: 75px;
    padding-top: 41px;
  }

  @include media(xl) {
    padding-top: 47px;
    padding-bottom: 82px;
  }
}

.program-select__wrapper {
  margin-bottom: 39px;

  @include media(md) {
    padding-left: 69px;
    padding-right: 67px;
    margin-bottom: 66px;
  }

  @include media(xl) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.program-select__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 36px;

  @include media(md) {
    font-size: 60px;
    margin-bottom: 50px;
  }

  @include media(xl) {
    margin-bottom: 52px;
  }
}

.program-select__description {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;

  @include media(md) {
    font-size: 20px;
    line-height: 1.5;
  }
}
