@use "my-vars" as *;

.program-form__text {
  color: $dark-gray;
  text-transform: uppercase;
  display: block;
  margin-bottom: 13px;
}

.program-form__field {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  text-transform: uppercase;
}

.program-form__control-label {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 13px;
    &--font-color {
      color: $raisin-black;
  }
}

.program-form__subtitle {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.program-form__comment-field {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.program-form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.program-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.program-form__control-group {
  margin-bottom: 45px;
    &:last-child {
      margin-bottom: 34px;
    }
}

.program-form__button {
  margin-bottom: 21px;
}
