@use "../abstract" as *;

.program-form__label-wrapper {
  @include media(xl) {
    display: flex;
    justify-content: space-between;
  }
}

.program-form__label {
  display: flex;
  align-items: center;
  column-gap: 13px;
  width: 100%;
  margin-bottom: 14px;
  position: relative;

  @include media(md) {
    margin-bottom: 20px;
  }

  @include media(xl) {
    column-gap: 17px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--geometry {
    @include media(md) {
      column-gap: 19px;
    }

    @include media(xl) {
      width: 46.69%;
      margin: 0;
    }
  }

  &--phone-special {
    @include media(md) {
      column-gap: 13px;
    }
  }
}

.program-form__text {
  color: $dark-gray;
  text-transform: uppercase;
  max-width: 35%;

  &--geometry {
    max-width: 100%;
    width: 100%;
    min-height: fit-content;
    display: block;
  }
}

.program-form__field-control-wrapper {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  @include media(md) {
    margin-bottom: 70px;
  }

  @include media(xl) {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;
    row-gap: 20px;
    margin-bottom: 64px;
  }
}

.program-form__contacts-owner {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 23.57px;
  position: relative;

  @include media(md) {
    margin-bottom: 61px;
    padding-left: 0;
  }

  @include media(xl) {
    margin-bottom: 63px;
  }
}

.program-form__contacts-owner,
.program-form__comment-group,
.program-form__food-additive {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    top: 18px;
    background-color: $green;

    @include media(md) {
      top: 26px;
    }
  }
}

.program-form__icon {
  content: "";
  position: absolute;
  background-color: $raisin-black;
  mask-repeat: no-repeat;

  &--email {
    width: 20px;
    height: 20px;
    top: 13px;
    right: 15px;
    mask-image: url("../img/sprite.svg#email-icon");

    @include media(md) {
      width: 18px;
      height: 13px;
      top: 19px;
      right: 19px;
    }

    @include media(xl) {
      width: 18.74px;
      height: 20px;
      top: 16px;
      right: 18.72px;
    }
  }

  &--phone {
    width: 20px;
    height: 20px;
    top: 13.04px;
    right: 13px;
    mask-image: url("../img/sprite.svg#phone-icon");

    @include media(md) {
      width: 20px;
      height: 20px;
      top: 16px;
      right: 17px;
    }

    @include media(xl) {
      width: 19.15px;
      height: 20px;
      top: 15px;
      right: 17.23px;
    }
  }
}

.program-form__field {
  appearance: textfield;
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.2;
  color: $dark-gray;
  text-transform: uppercase;
  padding: 13px 0 14px 16px;
  width: 100%;
  border: 1px solid $platinum-special;
  height: 45px;

  &--geometry {
    padding-left: 12px;
  }


  @include media(md) {
    min-height: 52px;
    padding: 0;
    padding-left: 19px;
    font-size: 20px;
  }

  &::placeholder {
    color: $dark-gray;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $chinese-silver;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid $dark-gray;
    border-radius: 0;
  }

  &:focus + .program-form__icon {
    background-color: $green;
  }

  @include invalid-field {
    border: 2px solid $error-color;
  }

  &:focus:invalid + .program-form__icon,
  &:not(:placeholder-shown):not(:focus):invalid + .program-form__icon {
    background-color: $error-color;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.program-form__control-label {
  text-transform: uppercase;
  display: inline-block;


  &--font-color {
    color: $raisin-black;
  }
}

.program-form__subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0;
  padding-right: 14px;
  margin: 0;
  margin-bottom: 32px;
  width: 221px;
  background-color: $white;
  position: relative;
  padding-left: 20px;
  margin-left: -20px;

  @include media(md) {
    font-size: 36px;
    margin-bottom: 73px;
    padding-left: 39px;
    margin-left: -41px;
    padding-right: 42px;
    width: fit-content;
  }

  @include media(xl) {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }

  &--comment-decorate {
    width: fit-content;
    padding-right: 22px;
    margin-bottom: 35px;

    @include media(md) {
      margin-bottom: 73px;
      padding-right: 38px;
    }
  }

  &--food-decorate {
    width: fit-content;
    padding-right: 23px;
    margin-bottom: 38px;

    @include media(md) {
      margin-bottom: 61px;
      padding-right: 41px;
    }
  }
}

.program-form__contacts-owner-wrapper,
.program-form__comment-wrapper,
.program-form__food-wrapper {
  position: relative;

  @include media(md) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @include media(xl) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.program-form__contacts-owner-wrapper {
  column-gap: 78px;
}

.program-form__comment-group {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  margin-bottom: 18.75px;

  @include media(md) {
    margin-bottom: 58px;
    padding-left: 0;
  }

  @include media(xl) {
    margin-bottom: 60px;
  }

  &::before {
    top: 15px;

    @include media(md) {
      top: 26px;
    }
  }
}

.program-form__comment-field {
  font-family: $oswald;
  font-size: 16px;
  line-height: 1.2;
  color: $dark-gray;
  text-transform: uppercase;
  width: 100%;
  min-height: 150.2px;
  text-align: center;
  border: 1px solid $platinum-special;
  padding: 0;
  padding-top: 10px;

  @include media(md) {
    font-size: 20px;
    line-height: 1.5;
    min-height: 174px;
    text-align: start;
    padding-left: 18px;
  }
}

.program-form__food-additive {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;

  @include media(md) {
    padding-left: 0;
  }

  &::before {
    top: 16px;

    @include media(md) {
      top: 26px;
    }
  }
}

.program-form__legend {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin: 0 auto;

  @include media(md) {
    font-size: 16px;
    margin: 0;
  }
}

.program-form__list,
.program-form__checkbox-list {
  list-style-type: none;
}

.program-form__control-wrapper {
  position: relative;
  width: 100%;

  @include media(md) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @include media(xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.program-form__field-wrapper {
  margin-bottom: 23px;

  @include media(md) {
    margin-bottom: 72px;
    padding-left: 71px;
    padding-right: 67px;
  }

  @include media(xl) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.program-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-top: 29.24px;
  padding-bottom: 21.24px;

  @include media(md) {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid $platinum-special;
    min-height: 196px;
    row-gap: 29px;
    padding-left: 0;
  }

  @include media(xl) {
    padding-left: 0;
    padding-right: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $light-silver;

    @include media (md) {
      content: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.program-form__checkbox-list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 38px;
  row-gap: 24px;
  padding: 0;

  @include media(md) {
    grid-template-columns: repeat(2, 35%);
    column-gap: 124px;
    row-gap: 48px;
    margin-bottom: 62px;
  }

  @include media(xl) {
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
    margin-bottom: 69px;
  }
}

.program-form__item {
  &--geometry {
    @include media(md) {
      margin: 0;
    }
  }
}

.program-form__control-group {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  margin-bottom: 26px;

  @include media(md) {
    padding-left: 71px;
    padding-right: 67px;
  }

  @include media(xl) {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    padding: 0;
  }
}

.program-form__control {
  padding-left: 46px;
  position: relative;
  display: flex;

  @include media (md) {
    padding-left: 87.89px;
  }

  &--geometry {
    @include media(md) {
      padding-left: 59px;
    }
  }

  &:hover .program-form__control-mark {
    border: 1px solid $gray-special;
  }
}

.program-form__control-mark {
  position: absolute;
  left: 0;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid $chinese-silver;

  @include media(md) {
    width: 40px;
    height: 40px;
    left: 27.97px;
    top: -7px;
  }

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    @include media(md) {
      left: 0;
    }
  }
}

.program-form__control-input {
  &:checked + .program-form__control-mark--radio::before {
    content: "";
    position: absolute;
    width: 13.5px;
    height: 13.5px;
    top: 7.5px;
    left: 7.3px;
    border-radius: 50%;
    background-color: $green;

    @include media(md) {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }

  &:checked + .program-form__control-mark--checkbox::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 7.09px;
    left: 6.25px;
    background-image: url("../img/sprite.svg#check-mark-icon");
    background-repeat: no-repeat;

    @include media(md) {
      width: 24px;
      height: 18.67px;
      top: 11px;
      left: 8px;
    }
  }

  &:disabled + .program-form__control-mark,
  &:disabled ~ .program-form__control-label {
    opacity: 0.3;
  }
}

.program-form__button {
  margin-bottom: 23px;

  @include media(md) {
    margin: 0;
    width: 45%;
    padding: 13px 0;
  }

  @include media(xl) {
    width: 568px;
    padding: 14px 0;
  }
}

.program-form__button-legend-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media(md) {
    flex-direction: row;
    align-items: center;
    column-gap: 61px;
    padding-left: 71px;
    padding-right: 67px;
  }

  @include media(xl) {
    column-gap: 81px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
