@use "../abstract" as *;

.sideline-products {
  position: relative;
}

.sideline-products__table-gift-wrapper {
  @include media(xl) {
    display: flex;
    column-gap: 79px;
  }
}

.sideline-products__table {
  width: 100%;
  margin-bottom: 35px;

  @include media(md) {
    margin-bottom: 69px;
  }

  @include media(xl) {
    padding: 0;
    width: 896px;
    margin-bottom: 0;
  }
}

.sideline-products__table-body,
.sideline-products__table-row {
  display: flex;
  flex-direction: column;
}

.sideline-products__table-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $chinese-silver;

  @include media(md) {
    margin: 0;
    padding: 38px;
    padding-top: 26px;
    padding-bottom: 28px;
    row-gap: 25px;
    border-left: 1px solid $chinese-silver;
    border-right: 1px solid $chinese-silver;
  }

  @include media(xl) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-top: 1px solid $chinese-silver;
  }

  &:last-child {
    border-bottom: 1px solid $chinese-silver;
  }
}

.sideline-products__title-wrapper {
  margin-bottom: 36px;

  @include media(md) {
    margin-bottom: 80px;
  }
}

.sideline-products__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: inherit;
  margin: 0;
  width: 248px;
  padding-right: 22px;

  @include media(md) {
    width: 410px;
    font-size: 36px;
    padding-left: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16.84px;
    left: 268px;
    right: 0;
    height: 2px;
    background-color: $green;

    @include media(md) {
      top: 25px;
      left: 444px;
    }

    @include media(xl) {
      left: auto;
      width: 63.5%;
      max-width: 1113px;
      right: 0;
    }
  }

  &::before {
    @include media(md) {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      right: 97%;
      height: 2px;
      background-color: $green;
    }

    @include media(xl) {
      right: auto;
      width: 20px;
    }

    @include media(1440) {
      width: 5%;
    }
  }
}

.sideline-products__food-name {
  line-height: 1.2;
  font-weight: inherit;
  text-transform: uppercase;
  color: $raisin-black;
  width: 100%;
  text-align: start;
  margin-bottom: 13px;

  @include media(md) {
    width: fit-content;
    margin-bottom: 0;
  }

  @include media(xl) {
    width: 305px;
    margin: 0;
    margin-right: 20px;
  }
}

.sideline-products__food-number,
.sideline-products__food-price {
  font-family: $arial;
  font-size: 14px;
  line-height: 1.25;
  color: $dark-gray;

  @include media(md) {
    font-size: 16px;
    margin-left: auto;
  }

  @include media(xl) {
    margin: 0;
  }
}

.sideline-products__food-number {
  @include media(xl) {
    width: 223px;
    margin-right: 20px;
  }
}

.sideline-products__food-price {
  text-align: end;
  margin-left: auto;

  @include media(md) {
    margin: 0;
    width: 13%;
    margin-left: 12px;
  }

  @include media(xl) {
    width: 60px;
    margin: 0;
    margin-right: 20px;
    text-align: start;
  }
}

.sideline-products__order {
  display: flex;
  width: 100%;
  margin-top: 15px;

  @include media(md) {
    margin: 0;
  }

  @include media(xl) {
    width: 244px;
    padding: 0;
  }
}

.sideline-products__button {
  margin: 0 auto;

  @include media(xl) {
    margin: 0;
    font-size: 16px;
    width: 244px;
    min-height: 40px;
  }
}
