@use "../abstract" as *;

.sideline-products__table {
  width: 100%;

  @include media(md) {
    padding-left: 38px;
    padding-right: 38px;
  }

  @include media(xl) {
    padding: 0;
    width: 896px;
  }
}

.sideline-products__table-body,
.sideline-products__table-row {
  display: flex;
  flex-direction: column;
}

.sideline-products__table-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 13px;
  padding-bottom: 19px;

  @include media(md) {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 28px;
  }

  @include media(xl) {
    padding-top: 15px;
    padding-bottom: 17px;
    align-items: center;
    justify-content: flex-start;
  }
}

.sideline-products__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 36px;

  @include media(md) {
    font-size: 36px;
    margin-bottom: 80px;
    padding-left: 36px;
  }

  @include media(xl) {
    padding: 0;
    margin-bottom: 81px;
  }
}

.sideline-products__food-name {
  line-height: 1.2;
  font-weight: inherit;
  text-transform: uppercase;
  color: $raisin-black;
  width: 100%;
  text-align: start;
  margin-bottom: 13px;

  @include media(md) {
    width: fit-content;
  }

  @include media(xl) {
    width: 305px;
    margin: 0;
    margin-right: 20px;
  }
}

.sideline-products__food-number,
.sideline-products__food-price {
  font-family: $arial;
  font-size: 14px;
  line-height: 1.25;
  color: $dark-gray;

  @include media(md) {
    font-size: 16px;
    margin-left: auto;
  }

  @include media(xl) {
    margin: 0;
  }
}

.sideline-products__food-number {
  @include media(xl) {
    width: 223px;
    margin-right: 20px;
  }
}

.sideline-products__food-price {
  text-align: end;
  margin-left: auto;

  @include media(md) {
    margin: 0;
    width: 13%;
    margin-left: 12px;
  }

  @include media(xl) {
    width: 60px;
    margin: 0;
    margin-right: 20px;
    text-align: start;
  }
}

.sideline-products__order {
  display: flex;
  width: 100%;
  margin-top: 15px;

  @include media(xl) {
    width: 244px;
    margin: 0;
    padding: 0;
  }
}

.sideline-products__button {
  margin: 0 auto;

  @include media(xl) {
    margin: 0;
    font-size: 16px;
    width: 244px;
    min-height: 40px;
  }
}
