@use "../my-vars" as *;

.sideline-products {
  padding-top: 25px;
  padding-bottom: 35px;
}

.sideline-products__table {
  width: 100%;
}

.sideline-products__table-body,
.sideline-products__table-row {
  display: flex;
  flex-direction: column;
}

.sideline-products__table-row {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 31px;
  &:last-child {
    margin-bottom: 19px;
  }
}

.sideline-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 49px;
}

.sideline-products__food-name {
  line-height: 16px;
  font-weight: inherit;
  text-transform: uppercase;
  color: $raisin-black;
  width: 100%;
  text-align: start;
  margin-bottom: 13px;
}

.sideline-products__food-number,
.sideline-products__food-price {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $dark-gray;
  width: 50%;
}

.sideline-products__food-price {
  text-align: end;
}

.sideline-products__order {
  display: flex;
  width: 100%;
  margin-top: 15px;
}

.sideline-products__button {
  margin: 0 auto;
}
