@use "../my-vars" as *;

.site-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 22px 0 24px 0;
  @media (min-width: $tablet-screen) {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 62%;
    justify-content: space-between;
  }
}

.site-list__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-screen) {
    margin: 0;
  }
}

.site-list__item--current {
  position: relative;
  @media (min-width: $tablet-screen) {
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -10px;
      background-color: $green;
    }
  }
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}
