@use "../abstract" as *;

.social {
  list-style-type: none;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 132px;

  @include media(md) {
    width: 132px;
    margin-bottom: 0;
    padding: 0;
    justify-self: center;
    margin-left: -10px;
  }

  @include media(xl) {
    align-self: flex-start;
  }
}

.social__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.social__link {
  text-decoration: none;
  display: block;
  min-width: 28px;
  min-height: 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $granite-gray;

  &:hover {
    background-color: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  min-height: 28px;
  margin-top: -3px;
  mask-image: url("../img/sprite.svg#vkontakte-icon");
}

.social__link--youtube {
  mask-image: url("../img/sprite.svg#youtube-icon");
  min-height: 24px;
}

.social__link--telegram {
  mask-image: url("../img/sprite.svg#telegram-icon");
}
