@use "../my-vars" as *;

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  display: flex;
  column-gap: 24px;
  min-height: 22px;

  @media (min-width: $tablet-screen) {
    width: 19%;
    margin-bottom: 0;

  }
}

.social__link {
  text-decoration: none;
}
