@use "../abstract" as *;

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  display: flex;
  column-gap: 24px;
  min-height: 22px;

  @include media(md) {
    width: 132px;
    margin-bottom: 0;
  }
}

.social__link {
  text-decoration: none;
}
