@use "../abstract" as *;

.stats {
  font-family: $oswald;
  line-height: 1.24;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 1) 100%);
  padding-top: 23px;
  padding-bottom: 42px;

  @include media(md) {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 620px, rgba(234, 234, 234, 1) 620px, rgba(234, 234, 234, 1) 100%);
    padding-top: 36px;
    padding-bottom: 100px;
  }

  @include media(xl) {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 186px, rgba(242, 242, 242, 1) 186px, rgba(242, 242, 242, 1) 100%);
    padding-top: 0;
    padding-bottom: 71px;
  }
}

.stats__wrapper {
  display: flex;
  flex-direction: column;

  @include media(xl) {
    position: relative;
  }
}

.stats__title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @include media(md) {
    font-size: 60px;
    margin-bottom: 58px;
  }

  @media (min-width: 1220px) {
    width: 50%;
    margin-bottom: 70px;
    margin-top: 43px;
  }
}

.stats__slogan {
  font-family: $arial;
  color: $dark-gray;
  margin: 0;
  margin-bottom: 20px;

  @include media(md) {
    line-height: 1.5;
    margin-bottom: 53px;
  }

  @include media(xl) {
    width: 436px;
    margin-bottom: 69px;
    margin-top: 70px;
  }
}

.stats__description {
  font-family: $arial;
  color: $dark-gray;
  font-size: 12px;
  text-transform: lowercase;
  margin: 0 auto;
  width: 70.16%;
  padding: 0 5px;
  margin-top: -13px;
  background-color: $bright-gray;

  @include media(md) {
    width: 70.37%;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 54px;
    background-color: $white;
  }

  @include media(xl) {
    background-color: $gray;
    margin-bottom: 0;
  }

  &--geometry {
    @include media(md) {
      width: 87.56%;
    }
  }
}

.stats__list {
  margin: 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 44.29%);
  text-align: center;
  justify-content: space-between;

  @include media(md) {
    grid-template-columns: 23% 23% 1fr;
    column-gap: 42px;
    margin-bottom: 41px;
    justify-content: flex-start;
  }

  @include media(xl) {
    grid-template-columns: 162px 162px;
    width: 366px;
    row-gap: 50px;
    margin: 0;
  }
}

.stats__number {
  font-size: 24px;
  padding-top: 13.61px;
  padding-bottom: 13.6px;
  border: 1px solid $chinese-silver;
  border-radius: 3px;


  @include media(md) {
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 30px;
  }
}

.stats__item {
  text-transform: uppercase;

  &--geometry {
    padding-top: 17px;
    grid-column: 1 / -1;
    display: flex;
    margin: 0 auto;
    column-gap: 5px;

    @include media(md) {
      flex-direction: column;
      padding-top: 8px;
      margin-left: -3px;
      grid-column: auto;
      justify-self: end;
      text-align: end;
      width: 100%;
    }

    @include media(xl) {
      flex-direction: row;
      grid-column: 1 / -1;
      padding: 0;
      width: 100%;
      justify-self: flex-start;
      display: flex;
      column-gap: 66px;
      margin: 0;
    }
  }
}

.stats__cost {
  margin: 0;
}

.stats__spending {
  @include media(md) {
    margin-bottom: 4px;
  }

  @include media(xl) {
    margin: 0;
  }
}

.stats__spending,
.stats__cost {
  @include media(md) {
    font-size: 20px;
  }
}

.stats__comparison {
  @include media(xl) {
    position: absolute;
    top: 49px;
    right: 15px;
  }
}
