// global styles:
@use "fonts";
@use "global";

// util styles:
@use "util";


// style for BEM blocks:
@use "blocks/button";
@use "blocks/main-nav";
@use "blocks/site-list";
@use "blocks/main-container";
@use "blocks/hero-section";
@use "blocks/advantages";
@use "blocks/features";
@use "blocks/stats";
@use "blocks/comparison";
@use "blocks/main-footer";
@use "blocks/cooperation";
@use "blocks/location";
@use "blocks/footer-contacts";
@use "blocks/social";
@use "blocks/program-select";
@use "blocks/card-product";
@use "blocks/catalog";
@use "blocks/gift-order";
@use "blocks/header-logo";
@use "blocks/more-products";
@use "blocks/program-form";
@use "blocks/sideline-products";
@use "blocks/visually-hidden"
